.main-grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50vh 50vh;
  gap: 0px 0px;
  grid-template-areas:
    "search map"
    "search results";
}
.search {
  background-color: #edeeef;
  grid-area: search;
}
.map {
  grid-area: map;
}
.results {
  background-color: aliceblue;
  grid-area: results;
}
