@media only screen and (max-width: 1055px) {
  .main-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 5vh;
    gap: 0px 0px;
    grid-template-areas:
      "search"
      "map"
      "results"
      "footer";
  }
  .search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map {
    grid-area: map;
  }
  .results {
    grid-area: results;
  }
  .footer {
    grid-area: footer;
  }
}

@media only screen and (min-width: 1055px) {
  .main-grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50vh 50vh 4vh;
    gap: 0px 0px;
    grid-template-areas:
      "search map"
      "search results"
      "footer footer";
  }
}

.search {
  padding: 20px;
  background-color: #edeeef;
  grid-area: search;
  overflow: scroll;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #edeeef;
}

.map {
  grid-area: map;
}
.results {
  background-color: aliceblue;
  grid-area: results;
  overflow: scroll;
}

.inputLabelStyle {
  font-weight: 100 !important;
}
