.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "name name"
    "icon details";
}
.name {
  grid-area: name;
}
.icon {
  grid-area: icon;
}
.details {
  grid-area: details;
}
